p.BodyText {
    margin-left: 1.00in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: Century Gothic;
}
span.Hyperlink {
    color: #7571A0;
    font-size: 10pt;
    font-weight: bold;
}
ul.List11 {
counter-reset: section111;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ul.List3 {
counter-reset: section31;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size));
}
p.Num1 {
    margin-left: 1.00in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: Century Gothic;
    counter-reset: Numbering162;
    margin-left: 1.25in;
    --autonumber: autonumber;
}
p.Num1:before {
    content: "";
    font-family: Wingdings;
    font-size: 6pt;
    color: #6B7000;
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.00in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
body {
counter-reset:Numbering141 ;
    font-family: 'Times New Roman', 'serif';
}
.margin-left-0 {
margin-left:0;
}
.margin-left-1-25in {
margin-left:1.25in;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
.text-indent--0-25in {
text-indent:-0.25in;
}
ul.List11>li {
 position: relative;
}
ul.List11>li:before {
counter-increment: section111;
content:"";
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden;
    color: #6B7000;
    font-family: Wingdings;
    font-size: 6pt;
}
ul.List3>li {
 position: relative;
}
ul.List3>li:before {
counter-increment: section31;
content:"";
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden;
    color: #6B7000;
    font-family: Wingdings;
    font-size: 6pt;
}